body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* img {
  height: 300px;
  width: 300px;
} */

.app {
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: white;
}

/* .allSneakers {
  background-color: #53a2be;
} */

.routes {
  background-color: #53a2be;
}

.allPageSingleSneaker {
  background-color: #1d84b5;
  margin: 2rem;
}
